<% cache(cache_key_for_notes) do %>

  <h1>Listing Notes</h1>
  <% unless @notes.empty? %>
    <table>
      <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @notes.each do |note| %>
        <% cache(note) do %>
          <tr>
            <td><%= note.title %></td>
            <td><%= link_to 'Show', note %></td>
            <td><%= link_to 'Edit', edit_note_path(note) %></td>
            <td><a href="#" class="reveal-link"
                   data-note='<%= raw note.to_json(
                                          :include => { :albums => { :only => :id }},
                                          :except => [:user_id, :latlon]) %>'
                >Show/Edit</a></td>
            <td><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% else %>
    Nothing yet!
    <br>
  <% end %>

<% end %>

<br>

<%= link_to 'Create Note', new_note_path, class:'button' %>

<div id="editModal" class="reveal-modal xlarge" data-reveal aria-hidden="true"
     data-session='<%= session[:_csrf_token] %>'
     data-userid='<%= current_user.id %>'
     data-albums='<%= raw current_user.albums.to_json(:only => [:title, :id]) %>'>
  <div id="form" class="medium-6 columns">
    <%= render 'notes/noteForm' %>
  </div>

  <div class="medium-6 columns full">
    <div id="map-canvas"></div>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBTrBJkp-8i6MZKKotUoTnzoUiXV_zlIVg' %>
<%= javascript_include_tag 'geolocation' %>
<%= javascript_include_tag 'noteview' %>
