<script>
  $(document).ready(function() {
    $('#album-table').DataTable();
} );
</script>

<h1>Listing Albums</h1>

<% unless @albums.empty? %>
<table id="album-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <% 3.times do %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.description %></td>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  Nothing yet!
  <br>
<% end %>

<br>

<%= link_to 'New Album', new_album_path, :class => 'button' %>
