<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Notes:</strong>
  <% @album.notes.each do |note| %>
    <%= link_to note.title, note %><%= ', ' unless note == @album.notes.last %>
  <% end %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
