<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MapKeep" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar data-no-turbolink role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">MapKeep</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
          <ul class="right">
            <% if user_signed_in? %>
            <li class="has-dropdown">    
            <%= link_to current_user.email, 'javascript:;' %>
                <ul class="dropdown">
                    <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path  %></li>
            <li><%= link_to "Login", new_user_session_path  %></li>
          <% end %>
          </ul>
  </section>
    </nav>
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>

      <div class="large-7 columns">
        <div class="row">
          <%= yield %>
        </div>
      </div>
      <div class="large-2 columns"></div>
    </div>

    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-5 columns">
            <p>© Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-7 columns">
            <ul class="inline-list right">
              <li><a href="#">Section 1</a></li>
              <li><a href="#">Section 2</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
